@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: none;
}

.container{
    background-color: #272727;
    height: 56em;
}

.container h1{
    font-family: 'DM Sans', sans-serif;
    color: #ffe400;
    position: relative;
    top: 10px;
    font-size: 50px;
    text-align: center;
}

.gpa h3{
    font-family: 'DM Sans', sans-serif;
    position: relative;
    top:50px;
    color: #ff652f;
    text-align: center;
}

.gpa{
    width: 100%;
}
.gpa .button{

    width: 60%;
    margin: auto;
    position: relative;
    top: 100px;
    text-align: center;
}

.gpa .button button{
    vertical-align: middle;
    width: 120px;
    height: 30px;
    background-color: #ff652f;
    border: none;
    border-radius: 20px;
    font-family: 'DM Sans', sans-serif;
    transition: .5s linear;

}

.gpa .button button:hover{
    font-family: 'DM Sans', sans-serif;
    transition: .5s linear;
    background-color: #ffe400;
}

.table{
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 150px;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    box-shadow: 2px 2px 12px rgba(0,0, 0, 0.2);
}

tr{
    transition: all .2s ease-in;
    cursor: pointer;
}

th, td{
    padding: 12px;
    border-bottom: 1px solid #272727;
}
table, th, td{
    border: 1px solid white;
    color: white;
    text-align: center;
}

table tr td form select{
    background-color: #ff652f;
    width: 100%;
}

